
      @media screen and (max-width: 1700px) {
        .img-game {
            background-size: cover;
          height: 500px;
          width: 80%;
          transition: all 0.5s;
        }

        .descricao p {
          width: 40%;
          font-size: 1em;


          line-height: 1.5em;

        }

        main {
          padding: 30px 8vw;
        }


        .lista-jogos img {
          width: 50px;
          border-radius: 6px;
        }

      }


     /* Dispositivos movéis! */
     @media only screen and (max-width: 678px) {

        main{
            padding: 10px 20px;
        }

        .pesquisar img{
            width: 20px
        }

        li.destacado{
            font-size: 1rem;

        }
        .nop-destaque{
            display: none;
        }

        .pesquisar{
            background-color: #121212;
            width: 28%; 
            /* voltar */

        }

        .disc{
            display: flex;
            padding-top: 10px;
            padding-left: 50px;
            justify-content: center;
            gap: 25px
        }

        .disc-escuro{
            color: rgb(90, 90, 90);
        }


        .jogo-1 .preco{
            padding: 0px;
        }

        .textos-jogo-01{
            padding: 10px 0px;
        }

        .mais-jogos-4{
            padding-bottom: 10px;
        }

        .barato{
            padding: 0;
        }

        .oferta-semana{
            margin-top: 20px;
        }


        .textos-ofertas{
            padding: 10px 0px;
        }


        .pesquisar spam{
            display: none;
        }

        .list-header{
            display: none;
        }

        .btn-download {
            display: none;

        }

        .oferta-semana{
            display: flex;
            flex-direction: column;
            column-gap: 2%;
        }
        .jogo-1{
            margin-top: 30px;
        }
        .jogos-top{
            display: flex;
            justify-content: space-between;
            gap: 2%;
        }

        .jogo-gratis-1 img{
            width: 100%;
        }
        .todos-jogos{
            display: flex;
            flex-direction: column;
        }
        .mais-jogos{
            display: flex;
            flex-direction: column;
        }
        .modos-de-jogo{
            display: flex;
            flex-direction: column;

        }
        .modo-1{
            margin-bottom: 20px;
        }
        .modo-2{
            margin-bottom: 20px;
        }
        .mais-jogos-4{
            display: flex;
            flex-direction: column;
        }
        .novos-lancamentos{
            display: flex;
            flex-direction: column;
        }
        .lancamentos{
            display: flex;
            flex-direction: column;
        }
        .lista-jogos ul li:hover{
            background-color: var(--destaques);
            margin-bottom: 5px;

        }
        .img-game {

            background-size: cover;

            width: 95%;


            padding: 0px 0px 20px 20px; 
        }

        .descricao p{
            width: 100%;
            font-size: 0.9rem;
            font-weight: 500;
            padding-bottom: 20px;
            line-height: 1.5em;

        }

       .fortnite{
            width: 100px;
            padding-bottom: 20px;
       } 

        .modo-cell{
            font-size: 0.9rem;
            padding-top: 10px;
        }
        .comprar{
           display: none
        }

        .jogo-remove{
            display: none
          } 

          footer{
            padding: 0px 20px 20px 20px;
        }

        .copyrights{

            width: 100%;

        }

        .icons-media svg{
            width: 40px;

        }

        .jogo-remove1{
            display: none;
        }
      }


      /* tablet luis */
      @media screen and (min-width: 678px) and (max-width: 1024px){
        *{
            transition: all;

        }

          header ul{
              display: flex;
              gap: 30px;
              list-style: none;
              color: var(--fonte-cinza);
              align-items: center;
              padding-left: 30px;
              font-weight: 500;
              font-size: 0.9rem;

          }

          .list-header{
              display: none;
          }

          .btn-download {
              display: none;

          }

          main{
              padding: 30px 30px;
          }

          main nav{
            gap: 20px
          }

          nav .nop-destaque{
              display: none;
          }
          .preco{
            font-size: 0.8rem;
          }

          nav ul{
              font-size: 0.9rem;

          }

          .lista-jogos ul li.selecionado{
              padding: 10px;
              margin-bottom: 5px ;
              border-radius: 8px;
              font-size: 0.7rem;
              width: 170px;

          }


          .lista-jogos ul li.others-games{
              padding: 10px;
              margin-bottom: 5px;
              border-radius: 8px;
              font-size: 0.7rem;

          }


          .lista-jogos img{
              width: 35px;
              border-radius: 6px;
          }


          .img-game{
              height: 40vh;
               background-size: cover;
              padding: 0px 0px 60px 40px;
          }

          .fortnite{
              width: 100px;
              padding: 10px 0px;
          }

          .descricao p{
              width: 60%;
              font-size: 0.9rem;
              padding-bottom: 10px;


          }

          p.gratis{
              padding-bottom: 10px;
          }

          .comprar{

              display: flex;
              align-items: center;
              gap: 30px;
              font-weight: 500;
              font-size: 0.7rem;
          }



          .jogo-remove{
            display: none
          }

        .textos-ofertas{

            padding: 15px 20px 30px 15px;
        }

        .texto-preco{
            font-size: 0.8rem;
        }

        .textos-ofertas h2{
            padding-bottom: 10px;
            font-weight: 400;
            font-size: 1rem
        }

        .desconto-oferta{

          padding: 5px 10px;
          border-radius: 4.5px;
          font-size: 10px;
        }


        .preco-lancamento{
          font-size: 0.8rem
        }

        .textos-jogo-01{
            padding: 0px 10px
        }

        footer{
            padding: 0px 20px 20px 20px;
        }

        .copyrights{

            width: 100%;

        }

        .icons-media svg{
            width: 40px;

        }

        .disc{
            display: none;
        }

       .aparece{
        display: flex;
        flex-direction: column;
       }
    }
